html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 16px;
}
h2 {
  font-weight: normal;
  margin-top: 0;
}
a {
  color: inherit;
}